﻿
@model List<Slider>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LAdminLayout.cshtml";
}

      <div class="container">
    <h2>CSlider Tablosu</h2>
      <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Slider Text</th>
                <th>Resim Yolu</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="success">
                    <td>@item.ID</td>
                    <td>@item.SliderText</td>
                    <td>@item.ResimYolu</td>
                    <td>@Html.ActionLink("Duzenle","Edit","Slider", new { id = item.ID } , null) | @Html.ActionLink("Sil", "Delete", "Slider", new { id = item.ID }, null)</td>
                </tr>
            }


            
        </tbody>
    </table>
</div>