﻿@model eYikat.Ilanlar

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LAdminLayout.cshtml";
}

Silmek istiyor musunuz ??
<br />
@Model.kisaYazi
<br />
@Html.ActionLink("Kabul ediyorum", "DeleteConfirm", new { id = Model.ID })
<br />
@Html.ActionLink("Kabul etmiyorum", "Index")

