﻿@model List<Ilanlar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LAdminLayout.cshtml";
}

<div class="container">
    <h2>CSlider Tablosu</h2>
    <table class="table">
        <thead>
            <tr  class="success">
                <th>ID</th>
                <th>Resim Yolu</th>
                <th>Sirket Adı</th>
                <th>Şehir</th>
                <th>İlçe</th>
                <th>Açıklama</th>
                <th>Fiyat</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="success">
                    <td>@item.ID</td>
                    <td>@item.ResimYolu</td>
                    <td>@item.SirketAdi</td>
                    <td>@item.Sehir</td>
                    <td>@item.Ilce</td>
                    <td>@item.kisaYazi</td>
                    <td>@item.fiyat tl</td>
                    <td>@Html.ActionLink("Duzenle", "Edit", "Ilanlar", new { id = item.ID }, null) | @Html.ActionLink("Sil", "Delete", "Ilanlar", new { id = item.ID }, null)</td>
                </tr>
            }



        </tbody>
    </table>
</div>
