﻿@model eYikat.Slider

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LAdminLayout.cshtml";
}

Silmek istiyor musunuz ??
<br />
@Model.SliderText 
<br />
<img src="@Model.ResimYolu" style="width:100%">
<br />
@Html.ActionLink("Kabul ediyorum", "DeleteConfirm" , new { id = Model.ID})
<br />
@Html.ActionLink("Kabul etmiyorum", "Index")