﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Css/style.css" rel="stylesheet" />
</head>
<body>
    <section id="container">
        <header>
            <a href="/">
                <div id="logo"></div>
            </a>
        </header>

        <nav>
            <a href="/">
                <div class="nav-item">
                    <span>Temizlet</span>
                </div>
            </a>
            <a href="/hakkimizda">
                <div class="nav-item">
                    <span>İletişim</span>
                </div>
            </a>
            <a href="/referanslar">
                <div class="nav-item" style="width: 192px; border-right:0;">
                   
                </div>
            </a>
            <a href="/">
                <div class="nav-item" style="width: 192px; border-right:0;">
                   
                </div>
            </a>
                <div class="nav-item" style="width: 192px; border-right:0;">
                    
                </div>
</nav>

        <section id="content">
            @RenderBody()
        </section>

        <footer>

            444 8989
            <small style="padding:300px;">Copyright © 2015-2016 eYikat.com</small>

            <div id="social-media">
                <a href="//facebook.com" target="_blank">
                    <div class="social">
                        <img src="~/Content/image/facebook.png" alt="facebook" />
                    </div>
                </a>
                <a href="#">
                    <div class="social">
                        <img src="~/Content/image/googleplus.png" alt="google+" />
                    </div>
                </a>
                    <a href="//twitter.com" target="_blank">
                        <div class="social">
                            <img src="~/Content/image/twitter.png" alt="twitter" />
                        </div>
                    </a>
            </div>
        </footer>
    </section>
</body>
</html>
