﻿@{
    ViewBag.Title = "Ana Sayfa";
}


<!-- Page Content -->
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Elektronik Araç Yıkatma Sistemi
                <small>Oturduğunuz yerden araç yıkama</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive" src="~/Content/images/ana.jpg" alt="">
        </div>
        <div class="col-md-4">
            <h3>En kolay Sistem</h3>
            <p>Sabit Hizmet Noktası Paketi içinde bayiye mobil olarak susuz oto yıkama hizmetini vermesine olanak sağlamanın yanında kar marjı çok yüksek olan oto kuaför hizmetini vermesini sağlayacak teçhizat ve ürünler bayilerimize tedarik edilmektedir.

Verilen teçhizat ve ürünlerin tamamı üretici garanti belgesi ile birlikte bayiye teslim edilen sınıflarının lideri malzemelerdir.

Oto kuaför teçhizatlarının başında Buharlı Oto Yıkama ve Oto Kuaför hizmeti konusunda çok iyi sonuçlar üreten Buhar makinesi gelir. Burada bayiye seçmesi için 2 adet marka&model opsiyonu sunulmaktadır. Sağlanan buhar makineleri oto yıkama&oto kuaför işlemi düşünülerek tasarlanmış kendi segmentlerinde lider makinelerdir. Özellikle oto taban ve tavan döşeme temizliği ve koltuk temizliğinde üstün kalitede işler çıkaran Oto Buhar Makineleri BLUEGREENWAX’ın Sabit Hizmet Noktası Paketinin vaz geçilmez ekipmanlarıdır. Listede de görüleceği üzere bir Detaylı Temizlik ve Araç Bakım Merkezi’nin ihtiyaç duyduğu tüm malzemeler paket kapsamında bayilerimize tedarik edilmektedir.</p>
            <h3>Temizleme Sistemleri</h3>
            <ul> 
                <li>Kova ile </li>
                <li>Buharlı Temizleme</li>
                <li>Özel Bez ile Temizleme</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Süreç Aşamaları</h3>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="~/Content/images/uye.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="~/Content/images/arama.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="~/Content/images/konum.png" alt="">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="~/Content/images/odeme.png" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>