﻿
@{
    ViewBag.Title = "Ürün";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>

                        </div>

                    </div>

                    <div class="details col-md-6">
                        <h3 class="product-title">men's shoes fashion</h3>
                        </div>
                        <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
                        <h4 class="price">current price: <span>$180</span></h4>
                       
                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                            
                        </div>
                    </div>
                <div class="wrapper row">
                    <h3 class="product-title">Puan : 6.9/10</h3>
                    <p class="product-description">Oylama : 47</p>
                    <h4 class="price">Yorumlar : <span>36</span></h4>
                    <button class="add-to-cart btn btn-default" type="button">Oto Yıkama</button>
                   </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3">
                    <img src="http://placekitten.com/400/252" class="img-thumbnail" >
            </div>

            <div class="col-md-3">
                    <img src="http://placekitten.com/400/252" class="img-thumbnail" >
            </div>

            <div class="col-md-3">
                    <img src="http://placekitten.com/400/252"class="img-thumbnail" >
            </div>

            <div class="col-md-3">
                    <img src="http://placekitten.com/400/252"class="img-thumbnail" >
            </div>

        </div>
    </div>
</body>
</html>