﻿
@model eYikat.Models.UrunlerModel

@{
    ViewBag.Title = "Temizlet";
}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>
            <div class="col-md-9">
                @{Html.RenderAction("_Slider","Home");} @*//Slider kestik aldık..*@
                @Html.Partial("_Ilan",Model.Ilanlar) @*//ürünleri kestik aldık..*@
            </div>
        </div>
    </div>
 
