﻿@model IEnumerable<eYikat.Ilanlar>

@foreach (var item in Model)
{
    <div class="row">
        <div>
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="pull-right">@item.fiyat tl</h4>
                    <h8>
                        <img src="@item.ResimYolu" alt="">
                        <a href="#">@item.SirketAdi</a>
                    </h8>
                    <h6 class="pull-lef">@item.Sehir / @item.Ilce</h6>

                    <p>@item.kisaYazi</p>
                </div>
            </div>
        </div>
    </div>
}

