﻿
@model IEnumerable<Slider>

@{
    Layout = null;
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <div class="w3-content w3-display-container">

        <a class="w3-btn-floating w3-hover-dark-grey w3-display-left" onclick="plusDivs(-1)">&#10094;</a>
        <a class="w3-btn-floating w3-hover-dark-grey w3-display-right" onclick="plusDivs(1)">&#10095;</a>

        @foreach (var item in Model)
        {
            <div class="w3-display-container mySlides">
                @if (item.ResimYolu == null)  
                {       @*Eğer resim gelmediyse hata resmi gösterilecek*@
                    <img src="http://cdn.mos.cms.futurecdn.net/fe31141a8944378ee6dedcbb258bbdfd.jpg" style="width:100%">
                }
                else {
                <img src="@item.ResimYolu" style="width:100%">
                }
                <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                    @item.SliderText
                </div>
            </div>
        }

    </div>

    <script>

var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
    </script>
