﻿@model eYikat.Areas.Admin.Models.RolEkleModel


@{
    ViewBag.Title = "RolEkle";
    Layout = "~/Areas/Admin/Views/Shared/_LAdminLayout.cshtml";
}

<h2>RolEkle</h2>

@using (Html.BeginForm("RolEkle","RolYonetim",FormMethod.Post))
{
    @Html.TextBoxFor(m=>m.RolAd)
    <input type="submit" />
}