﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eYikat.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("eYikat.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Temizlet", "urunler", "Home")</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                    <li>@Html.ActionLink("İlan Ver", "ilanver", "Home")</li>

                    
                </ul>

                @if (ViewContext.HttpContext.User.IsInRole("yonetici"))
                {
                    
                        <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">Admin Panel <span class="caret"></span></button>

                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Yönetim</li>

                            <li>@Html.ActionLink("AnaSayfa", "Index", "AdminHome", new { Area = "Admin" }, new { })  </li>
                            <li>@Html.ActionLink("Slider Ekle", "Add", "Slider", new { Area = "Admin" }, new { })  </li>
                            <li>@Html.ActionLink("Slider Düzenle", "Index", "Slider", new { Area = "Admin" }, new { })  </li>
                            <li>@Html.ActionLink("Urun Ekle", "Add", "Ilanlar", new { Area = "Admin" }, new { })  </li>
                            <li>@Html.ActionLink("Urun Düzenle", "Index", "Ilanlar", new { Area = "Admin" }, new { })  </li>


                            <li class="divider"></li>

                            <li class="dropdown-header">Rol Yönetimi</li>

                            <li>@Html.ActionLink("Roller", "Index", "RolYonetim", new { Area = "Admin" }, new { })  </li>
                            <li>@Html.ActionLink("Rol Ekle", "RolEkle", "RolYonetim", new { Area = "Admin" }, new { })  </li>
                            <li>@Html.ActionLink("Kullanıcı Rol Ekle", "RolKullaniciEkle", "RolYonetim", new { Area = "Admin" }, new { })  </li>


                        </ul>
                   
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Copyright c 2016-2023 eYıkat.com</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
